@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
   
    display: flex;
    flex-direction: column;

}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

}



.header {
    background-color: #1f2937;
    color: white;
    padding: 18px 160px 80px;
}

.hlogo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    
}

.hlogo .logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;

}
.hlogo ul {
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
}


.hcontent {
    display: flex;
    padding-top: 48px;
    justify-content: space-between;
    gap: 24px;
}
.hcontent .sidebar {
    width: 600px;

}

.sidebar .head {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

.sidebar .content {
    
    font-size: 18px;
    color: #e5e7eb;

}

.sidebar button {
    
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    margin-top: 8px;
    font-size: 18px;    
    font-weight: 300;
    padding: 6px 24px;  

}

.hcontent .img {
    display: flex;
    width: 400px;
    background-color: #6D747D;
    align-items: center;
    justify-content: center;
}

.info .sub-container {

    display: flex;
    justify-content: center;
    gap: 32px;

}

.info .sub {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;

}
.info .head {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 36px;
    text-align: center;

}
.sub .img {
    border-width: 3px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    
}


.quote {
    padding: 100px 400px;
    margin-top: 200px;
    background-color:#e5e7eb ;

}

.quote-info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding-bottom: 12px;
}

.thor {
    text-align: right;
    font-size: 24px;
    font-weight: 900;

}

.action {

    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    margin: 150px 200px;
    border-radius: 8px;
}

.action-text .head {
    font-weight: 900;
    font-size: 24px;
}

.action button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: solid;
    border-color: #f9faf8;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: 600;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    

}